<div class="container main-container">
    <h4>Demo de Cadastro com validação automatizada</h4><h5>[reactive form]</h5>
    <hr />
    <!--ATRELANDO O FormGroup DESTE FORMULARIO AO cadastroForm DO MESMO TIPO |
            ngSubmit = A AÇÃO DE SUBMISSÃO QUE FICA POR CONTA DO MÉTODO adicionarUsuario()-->
    <form novalidate (ngSubmit)="adicionarUsuario()" [formGroup]="cadastroForm"> 

        <div class="form-horizontal">

            <div class="form-group">
                <label class="col-md-2 control-label" for="nome">Nome Completo</label>
                <div class="col-md-10">
                    <input class="form-control" id="nome" type="text" placeholder="Nome (requerido)" formControlName="nome"
                    [ngClass]="{ 'is-invalid' : mostrarMensagem.nome }" />                   
                </div>
                <span class="text-danger" *ngIf="mostrarMensagem.nome">
                    <p [innerHtml]="mostrarMensagem.nome"></p>
                </span>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">CPF</label>
                <div class="col-md-10">
                    <!--MASCARA DO UtilsBR SENDO APLICADA NO CAMPO CPF-->
                    <input class="form-control" id="cpf" type="text" placeholder="CPF (requerido)" formControlName="cpf" cpf [textMask] = "{mask: mascaras.cpf.textMask}"/>                    
                </div>
                <span class="text-danger" *ngIf="mostrarMensagem.cpf">
                    <p [innerHtml]="mostrarMensagem.cpf"></p>
                </span>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">E-mail</label>
                <div class="col-md-10">
                    <input class="form-control" id="email" type="text" placeholder="E-mail (requerido)" formControlName="email"
                    [ngClass]="{ 'is-invalid' : mostrarMensagem.email }" />                    
                    <span class="text-danger" *ngIf="mostrarMensagem.email">
                        <p [innerHtml]="mostrarMensagem.email"></p>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">Senha</label>
                <div class="col-md-10">
                    <input class="form-control" id="senha" type="password" placeholder="Senha (requerido)" formControlName="senha" 
                    [ngClass]="{ 'is-invalid' : mostrarMensagem.senha }" /> 
                    <span class="text-danger" *ngIf="mostrarMensagem.senha">
                        <p [innerHtml]="mostrarMensagem.senha"></p>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">Confirme a Senha</label>
                <div class="col-md-10">
                    <input class="form-control" id="senhaConfirmacao" type="password" placeholder="Confirme a Senha (requerido)" formControlName="senhaConfirmacao" 
                    [ngClass]="{ 'is-invalid' : mostrarMensagem.senhaConfirmacao }" /> 
                    <span class="text-danger" *ngIf="mostrarMensagem.senhaConfirmacao">
                        <p [innerHtml]="mostrarMensagem.senhaConfirmacao"></p>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4 col-md-offset-2">
                    <!--BOTAO NÃO É LIBERADO ENQUANTO O FORMULARIO ESTIVER INVALIDO-->
                    <span><button class="btn btn-success" id="Registrar" [disabled]="!cadastroForm.valid" type="submit">Registrar</button></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4 col-md-offset-2">
                    <!--EXISTEM 3 ESTADOS POSSIVEIS DE UM FORMULARIO PASSA-->
                    <p>Fomulario válido: {{ cadastroForm.valid?'SIM':'NÃO' }}</p>
                    <p>Fomulario tocado: {{ cadastroForm.touched?'SIM':'NÃO' }}</p>
                    <p>Fomulario sujado: {{ cadastroForm.dirty?'SIM':'NÃO' }}</p>
                    <!--QUANDO SUBMETER APARECEM OS DADOS CAPTURADOS AQUI-->
                    <p>Fomulario resultado: {{ resultadoDoForm }}</p> 
                </div>
            </div>
        </div>
    </form>
</div>